@import "tailwindcss";

.full-screen {
  max-height: calc(100vh - 160px);
}

.drawer-height {
  height: calc(100vh - 4.5rem);
}

@media (min-width: 768px) {
  .drawer-height {
    height: auto;
  }
}

.preview-width {
  width: 100%;
  max-width: 100%;
}

.toggle-dark-mode {
  float: right;
}

@layer base {
  html {
    background-color: #f9fafb;
  }

  div {
    overscroll-behavior-y: contain;
  }

  .logo {
    font-family: "Mali", cursive;
  }

  .preview p {
    margin-bottom: 16px;
  }

  .preview h1, .preview h2, .preview h3, .preview h4 {
    box-sizing: border-box;
    color: #24292e;
    font-family: system-ui, -apple-system, "Segoe UI", Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
    padding-bottom: 0.3em;
    word-wrap: break-word;
    border-bottom: 1px solid #eaecef;
  }

  .preview h1 { font-size: 2em; }
  .preview h2 { font-size: 1.5em; }
  .preview h3 { font-size: 1.2em; }
  .preview h4 {
    font-size: 1em;
    border-bottom: none;
  }

  .preview td, .preview th {
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 6px 13px;
    text-align: left;
    word-wrap: break-word;
    border: 1px solid #dfe2e5;
  }

  .preview th {
    font-weight: 600;
  }

  .preview tr {
    background-color: #fff;
    line-height: 24px;
  }

  .preview tr:nth-child(even) {
    background-color: #f6f8fa;
  }

  .preview thead {
    font-size: 16px;
    line-height: 1.5;
  }

  .preview table {
    border-collapse: collapse;
    box-sizing: border-box;
    display: block;
    margin-bottom: 16px;
    overflow: auto;
    width: 100%;
    max-width: 100%;
  }

  .preview img {
    max-width: 100%;
    margin-bottom: 16px;
    border-style: none;
  }

  .preview ul, .preview ol {
    padding-left: 2em;
    margin-bottom: 16px;
  }

  .preview li {
    margin-top: 0.25em;
    list-style-position: inside;
  }

  .preview pre {
    background-color: #f6f8fa;
    border-radius: 6px;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 85%;
    line-height: 1.45;
    padding: 16px;
    white-space: pre;
    overflow: auto;
    margin-bottom: 16px;
  }

  .preview p code {
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 6px;
    padding: 0.2em 0.4em;
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 85%;
  }

  .preview a {
    color: #0366d6;
    text-decoration: none;
  }

  .preview a:hover {
    text-decoration: underline;
  }
}
